			.navbar-default{
				width: 100%;
				background: #0B0D12;
			}
			#list li a{
				color: white;
			}
			#list li a:focus{background-color: #269ABC;}
			#dropdownlist li a{
				color: #000000;
			}
			#dropdownlist li a:focus{color: #269ABC;}
			.actives{background: #245269;}
			#search{
				position: absolute;
				right: 1%;
			}
			.container{
				margin-top: 40px;
				background: #271813;
				height: 80px;
				border-radius: 5px;
				opacity: 0.85;
			}
			.container span a{
				margin-left: 50px;
				font-size: 18px;
				color: white;
				text-decoration: none;
			}
			.container span a:hover{
				color: #269ABC;
			}
			.dz{
				margin-left: 260px;
			}
			.page{
				background-image:url(img/timg.gif);
				width: 100%;
				height: 800px;
			}
			.detail{
				position: absolute;
				top:300px;
				left: 10%;
				width: 800px;
				height: 400px;
				color: #FFFFFF;
				text-align: left;
			}
			h1{
				font-size: 40px;
			}
			
			
			.modalh4{
				text-align: center;
				color: #000000;
				font-size: 30px;
				margin-bottom: 17px;
			}
			.img-responsive{
				width: 90%;
				height: 90%;
				margin: auto;
			}
			.modalh5{
				color: #E38D13;
				font-size: 25px;
				margin-top: 18px;
				margin-bottom: 13px;
				margin-left: 13px;
			}
			.modal-header p{
				font-size: 14px;
				line-height: 28px;
				margin-left: 13px;
			}
			.row{
				margin: auto;
				left: 0;
				right: 0;
			}
			.row img{
				width: 85%;
				height: 85%;
			}
			.thumbnail{
				background-color: #303741;
			}
			.thumbnail:hover{
				cursor: pointer;
			}
			.thumbnail img:hover{
				transform:scale(1.02);
			}
			.thumbnail h3,p{color: antiquewhite;}
			.thumbnail:hover img{ opacity:0.5;filter:alpha(opacity=50);-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-ms-transition:all 0.2s linear;-o-transition:all 0.2s linear;transition:all 0.2s linear;}
			.footer{
				width:100%;
				height:130px;
				background:#140C09;
				position:absolute;
				top: 1500px;
				}
			.footer img{
				position:absolute;
				top:100px;
				left:0;
				right: 0;
				margin: auto;
				}
			.top{
				position:absolute;
				left:490px;
				top:10px;
				}
			.top a{
				color:#FFF;
				font-size:16px;
				}
			.middle{
				position:absolute;
				top:40px;
				left:38.125em;/*530px*/
				color:#FFF;
				font-size:14px;
				}
			.foot{
				position:absolute;
				top:70px;
				left:410px;
				color:white;
				font-size:14px;
			}
			body{
				background-color: #FFFFF0;
			}
			.clubpic img{
				max-width: 10px;
			}
			.mediamessage{
				left:500px;
			}

		